<div class="container-fluid" ng-controller="mouvementEtatController">
	<div class="row" ng-show="displayMode != 'edit'">
	
	  <!-- 	<div class="col-sm-12">
			<button class="btn btn-action2 pull-right"
				ng-click="Affectation(objectCourant)" ng-disabled="">Ajouter</button>
		</div> -->
		
		
		<!-- Critere de recherche -->
		<div class="col-sm-12">
			<div class="title-ajout">Crit&eacute;res de recherche</div>
			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="form-horizontal" id="rechercheForm"
						name="rechercheForm">
						<div class="form-group">
							<div class="row">
					

								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Client
										</span> <select class="form-control"
											ng-model="objectCourant.clientId"
											ng-init="objectCourant.clientId =''"
											data-placeholder="..." style="width: 100%">
											<OPTION value="">Tous les Clients</OPTION>
											<option ng-repeat="client in ListClientOFCache"
												value="{{client.id}}">{{client.abreviation}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">OF
										</span> <input type="text" class="form-control"
											ng-init="objectCourant.numOF =''"
											ng-model="objectCourant.numOF">
									</div>
								</div>
								
									<div class="col-sm-3">
										<div class="input-group input-group-sm">
											<span class="input-group-addon label1" id="basic-addon1">Qte Stock</span>
											<select class="form-control" ng-init="objectCourant.etatStock ='tout'"
												ng-model="objectCourant.etatStock">
												<option value="tout">Tous</option>
												<option value="="> = 0</option>
												<option value=">"> > 0</option>
										
											</select>
										</div>
									</div>


							</div>
						</div>

						<div class="form-group">
							<div class="row">

		


					

						<!-- 		<div class="col-sm-3" ng-controller="DatepickerDemoController">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Date
											De </span> <input type="text" class="form-control datepicker"
											uib-datepicker-popup="{{format}}"
											ng-init="objectCourant.dateDe =''"
											ng-model="objectCourant.dateDe" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)"
											ng-required="true" close-text="Close" />
										<div class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</div>
									</div>
								</div>

								<div class="col-sm-3" ng-controller="DatepickerDemoController">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Date
											A </span> <input type="text" class="form-control datepicker"
											uib-datepicker-popup="{{format}}"
											ng-init="objectCourant.dateA =''"
											ng-model="objectCourant.dateA" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)"
											ng-required="true" close-text="Close" />
										<div class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</div>
									</div>
								</div> -->
								
								
								
							</div>
						</div>


					</form>
					<div class="pull-right">
						<button class="btn-action btn"
							ng-click="rechercher(objectCourant)">Recherecher</button>

						<button class="btn-action btn"
							ng-click="downloadProduction(objectCourant)">Générer</button>
						<button class="btn-action btn" ng-click="annulerAjout()">Annuler</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- container d'ajout,  modification et de consultation GPAO-->
	<div class="row" ng-show="displayMode == 'edit'">
		<div class="col-sm-12">
			<div class="pull-right">
				<button class="btn btn-action"
					ng-click="sauvegarderAjout(objectCourant)"
					ng-disabled="!creationForm.$valid ">Enregistrer</button>
				<button class="btn btn-action" ng-click="annulerAjout()">Retour</button>
			</div>
		</div>
		<div class="col-md-12">
			<div class="title-ajout">Production Jour</div>
			<div class="panel panel-primary">
				<div class="panel-body">
					<form name="creationForm" id="creationForm">

						<div class="form-group">
							<div class="row">
								<div class="col-sm-3" ng-controller="DatepickerDemoController">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Date
											De </span> <input type="text" class="form-control datepicker"
											uib-datepicker-popup="{{format}}"
											ng-init="objectCourant.date =''"
											ng-model="objectCourant.date" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)"
											ng-required="true" close-text="Close" />
										<div class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">chaine</span>
										<select ui-select2 required ng-model="objectCourant.chaine"
											ng-init="objectCourant.chaine =''" data-placeholder="..."
											style="width: 100%">
											<option value="">Tous</option>
											<option ng-repeat="planning in listechaine"
												value="{{planning.id}}">{{planning.designation}}</option>
										</select>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">Phase</span>
										<select ui-select2 required ng-model="objectCourant.phase"
											ng-init="objectCourant.phase =''" data-placeholder="..."
											style="width: 100%">
											<option value="">Tous</option>
											<option ng-repeat="planning in listephase"
												value="{{planning.id}}">{{planning.designation}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">

								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Quantit&eacute;
										</span> <input type="text" class="form-control"
											ng-init="objectCourant.quantite =''"
											ng-model="objectCourant.quantite">
									</div>
								</div>
								
										<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Qt&eacute; Non Conf.
										</span> <input type="text" class="form-control"
											ng-init="objectCourant.qteNonConf =''"
											ng-model="objectCourant.qteNonConf">
									</div>
								</div>

								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Effectif
										</span> <input type="text" class="form-control"
											ng-init="objectCourant.effectif =''"
											ng-model="objectCourant.effectif">
									</div>
								</div>

					

								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Periode
										</span> <input type="text" class="form-control"
											ng-init="objectCourant.periode =''"
											ng-model="objectCourant.periode">
									</div>
								</div>

							</div>
						</div>

						<div class="form-group">
							<div class="row">



								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">OF
										</span> <input type="text" class="form-control"
											ng-init="objectCourant.oFDesignation =''"
											ng-model="objectCourant.oFDesignation"
											ng-change="ofChanged()">
									</div>
								</div>

								<div class="col-sm-1">
									<div class="input-group input-group-sm">
										<button type="button" class="btn btn-sky"
											ng-style="numOfVerifier == 'true' && myStyleBtnOF"
											ng-click="validerOF(objectCourant.oFDesignation,'SEARCH')">V&eacute;rifier</button>
									</div>
								</div>



							</div>
						</div>


			<!-- 			<div class="title-ajout" ng-show="objectCourant.phase == 1">M&eacute;trages
							tissus</div>
						<div class="panel panel-primary"
							ng-show="objectCourant.phase == 1">
							<div class="panel-body">
								<form class="form-horizontal" id="creationStockForm2"
									name="creationStockForm2">
									<div class="form-group">
										<div class="row">


											<div class="col-sm-4" ng-show="objectCourant.phase == 1">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">M&eacute;trage
														1er Tissu ({{ordreFabricationCourant.referenceTissu1}})</span> <input
														type="text" class="form-control"
														ng-init="objectCourant.metrage =''"
														ng-model="objectCourant.metrage">
												</div>
											</div>


											<div class="col-sm-4" ng-show="objectCourant.phase == 1">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">M&eacute;trage
														2&egrave;me Tissu
														({{ordreFabricationCourant.referenceTissu2}})</span> <input
														type="text" class="form-control"
														ng-init="objectCourant.metrageTissu2 =''"
														ng-model="objectCourant.metrageTissu2">
												</div>
											</div>



										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-4" ng-show="objectCourant.phase == 1">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">M&eacute;trage
														3&egrave;me Tissu
														({{ordreFabricationCourant.referenceTissu3}})</span> <input
														type="text" class="form-control"
														ng-init="objectCourant.metrageTissu3 =''"
														ng-model="objectCourant.metrageTissu3">
												</div>
											</div>


											<div class="col-sm-4" ng-show="objectCourant.phase == 1">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">M&eacute;trage
														4&egrave;me Tissu
														({{ordreFabricationCourant.referenceTissu4}}) </span> <input
														type="text" class="form-control"
														ng-init="objectCourant.metrageTissu4 =''"
														ng-model="objectCourant.metrageTissu4">
												</div>
											</div>

										</div>
									</div>

								</form>

							</div>
						</div> -->

						<div class="title-ajout" ng-show="numOfVerifier == 'true'">Information
							d'ordre de fabrication</div>
						<div class="panel panel-primary" ng-show="numOfVerifier == 'true'">
							<div class="panel-body">
								<form class="form-horizontal" id="creationStockForm25"
									name="creationStockForm25">


									<div class="form-group">
										<div class="row">
										
										
										
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Client
													</span> <input type="text" class="form-control" disabled 
														ng-init="ordreFabricationCourant.partieInterresAbreviation =''"
														ng-model="ordreFabricationCourant.partieInterresAbreviation">
												</div>
											</div>

											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">R&eacute;f&eacute;rence
													</span> <input type="text" class="form-control" disabled
														ng-init="ordreFabricationCourant.produitReference =''"
														ng-model="ordreFabricationCourant.produitReference">
												</div>
											</div>

											<div class="col-sm-6">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">D&eacute;signation
													</span> <input type="text" class="form-control" disabled
														ng-init="ordreFabricationCourant.produitDesignation =''"
														ng-model="ordreFabricationCourant.produitDesignation">
												</div>
											</div>

										</div>
									</div>
									
									
									
									<div class="form-group">
										<div class="row">
										
											<div class="col-sm-2">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Qte
													</span> <input type="text" class="form-control" disabled
														ng-init="ordreFabricationCourant.quantite =''"
														ng-model="ordreFabricationCourant.quantite">
												</div>
											</div>
										
										
											<div class="col-sm-2">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Qte Cpe
													</span> <input type="text" class="form-control" disabled
														ng-init="ordreFabricationCourant.qtCoupe =''"
														ng-model="ordreFabricationCourant.qtCoupe">
												</div>
											</div>

											<div class="col-sm-2">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">S.FAB
													</span> <input type="text" class="form-control" disabled
														ng-init="ordreFabricationCourant.qtSortie =''"
														ng-model="ordreFabricationCourant.qtSortie">
												</div>
											</div>

									
											
										
											

										</div>
									</div>
								</form>

							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- container Grid-->
	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-md-12">
			<div class="title-ajout line">Liste Etat</div>
			<div class="row">
				<div class="input-icon right mb10 col-md-3 pull-right">
					<input placeholder="Taper un terme de recherche" type="text"
						ng-model="filterOptions.filterText" class="form-control">
				</div>
			</div>
			<div style="height: 500px;" ng-grid="gridOptions"></div>
		</div>
	</div>

	<!-- Popup de la suppression -->
	<!-- <div id="light" class="white_content"> -->
	<!-- <pop-up type="delete-article"></pop-up> -->
	<!-- </div> -->
	<!-- <div id="fade" class="black_overlay"></div> -->
	<!-- <!-- Fin Popup de la suppression -->

</div>