<div class="container-fluid">
	<div class="row">

		<div class="col-sm-1">
			<ul class="nav-gproS">
					<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goPersonnel()">Personnel</a>
						</li>
		
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goFicheSuiveuse()">F.Suiveuse
							</a>
						</li>
		
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goFeuilleSaisie()">Suivi/Poste</a>
						</li>
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goDetailsSuiviTR()">Suivi/PDA</a>
						</li>
		
						<li >
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goDetailsSaisie()">Detail Saisie</a>
						</li>
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goAvancementOF()">Avct OF</a>
						</li>
		
						<li class="active">
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goDetailsSuivi()">D&eacute;tails Suivi</a>
						</li>
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goFeuilleSaisieJournalier()">SuiviGlobal</a>
						</li>
		
			</ul>
		</div>

		<div class="col-sm-11 cadreERP" ng-controller="detailsSuiviController" style="background-color: #fff;">

			<!-- Critere de recherche -->
			<div class="row">
				<div class="col-sm-12 ">
					<div class="title-ajout">Crit&eacute;re de recherche</div>
					<div class="panel panel-primary">
						<div class="panel-body collapse in">
							<form class="form-horizontal" name="rechercheDetailsSaisieForm"
								id="rechercheDetailsSaisieForm">

								<div class="form-group">
									<div class="row">

										<!-- 	<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">R&eacute;f.OF</span>
												 <select ui-select2 ng-model="detailsSuiviCourante.ofId"
													ng-init="detailsSuiviCourante.ofId =''"
													data-placeholder="..." style="width: 100%"
													ng-change="getListOperations('OF',detailsSuiviCourante.ofId)">
													<OPTION value="">Toutes les
														R&eacute;f&eacute;rences</OPTION>
													<option ng-repeat="of in listeOFDrop" value="{{of.id}}">{{of.numero}}</option>
												</select>
											</div>
										</div> -->

										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">OF
												</span> <input type="text" class="form-control"
													ng-model="detailsSuiviCourante.ordreFabricationNumero"
													ng-init="detailsSuiviCourante.ordreFabricationNumero =''"
													ng-change="ofChanged()">
											</div>
										</div>


										<div class="col-sm-1">
											<div class="input-group input-group-sm">
												<button type="button" class="btn btn-action"
													ng-style="numOfVerifier == 'true' && myStyleBtnOF"
													ng-click="validerOF(detailsSuiviCourante.ordreFabricationNumero,'SEARCH')">Vérifier</button>
											</div>
										</div>

										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1"
													id="basic-addon1">R&eacute;f.Produit</span>
												<select ui-select2 ng-model="detailsSuiviCourante.produitId"
													ng-init="detailsSuiviCourante.produitId =''" data-placeholder="..."
													style="width: 100%"
													ng-change="getListOperations('PRODUIT',detailsSuiviCourante.produitId)">
													<OPTION value="">Toutes les
														R&eacute;f&eacute;rences</OPTION>
													<option ng-repeat="pi in listProduitDrop" value="{{pi.id}}">
														{{pi.reference}}</option>
												</select>
											</div>
										</div>

										<!-- 										<div class="col-sm-3"> -->
										<!-- 											<div class="input-group input-group-sm"> -->
										<!-- 												<span class="input-group-addon label1" id="basic-addon1">Produit -->
										<!-- 												</span> <select ui-select2 ng-model="detailsSuiviCourante.produitId" -->
										<!-- 													ng-init="detailsSuiviCourante.produitId =''" -->
										<!-- 													data-placeholder="..." style="width: 100%" -->
										<!-- 													> -->
										<!-- 													<OPTION value="">Tous les produits</OPTION> -->
										<!-- 													<option ng-repeat="pi in listProduitDrop" value="{{pi.id}}">{{pi.designation}}</option> -->
										<!-- 												</select> -->
										<!-- 											</div> -->
										<!-- 										</div> -->
										<div class="col-sm-3">
											<div class="input-group">
												<span class="input-group-addon label1" id="basic-addon1">
													Operation</span> <select ui-select2
													ng-model="detailsSuiviCourante.operation"
													ng-init="detailsSuiviCourante.operation =''" data-placeholder="..."
													style="width: 100%">
													<option value="">Toutes les Operations</option>
													<option ng-repeat="pi in listCodesOperations" value="{{pi.id}}">
														{{pi.designation}}</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-3" ng-controller="DatepickerDemoController">
											<div class="input-group">
												<span class="input-group-addon label1" id="basic-addon1">Date
													De:</span> <input type="text" class="form-control datepicker"
													datepicker-popup="{{format}}"
													ng-init="detailsSuiviCourante.dateMin =''"
													ng-model="detailsSuiviCourante.dateMin" is-open="opened"
													datepicker-options="dateOptions" date-="enabled(date, mode)"
													close-text="Close" />
												<div class="input-group-btn">
													<button type="button" class="btn1 btn-default"
														ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="col-sm-3" ng-controller="DatepickerDemoController">
											<div class="input-group">
												<span class="input-group-addon label1" id="basic-addon1">A
												</span> <input type="text" class="form-control datepicker"
													datepicker-popup="{{format}}"
													ng-init="detailsSuiviCourante.dateMax =''"
													ng-model="detailsSuiviCourante.dateMax" is-open="opened"
													datepicker-options="dateOptions" date-="enabled(date, mode)"
													close-text="Close" />
												<div class="input-group-btn">
													<button type="button" class="btn1 btn-default"
														ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</div>
											</div>
										</div>

									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-sm-3">
											<div class="input-group">
												<span class="input-group-addon label1">Quantit&eacute; produite
												</span> <input type="text" class="form-control" ng-model="qteProduite"
													ng-disabled="true">
											</div>
										</div>
										<div class="col-sm-3">
											<!-- En chargement -->
											<div ng-show="isLoading" class="col-md-5" style="font-weight: bold;"
												class="col-sm-1">Chargement ...
											</div>
										</div>
									</div>
								</div>
							</form>

							<div class="pull-right">
								<button class="btn-action btn" ng-click="getSommeQteProduite()">Rechercher</button>
								<button class="btn-action btn" ng-click="annulerAjout()">Annuler</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>