
<!-- Front -->
<div class="container-fluid" ng-controller="EclatementCtrl"
	style="background-color: #fff;">

	<!-- Critere de recherche -->
	<div class="row" ng-show="displayMode != 'edit'">
			<div class="col-sm-12">
			<button class="btn btn-action2 pull-right"
				ng-click="AffectationGamme(eclatementCourante)">Ajouter</button>
		</div>
		<div class="col-sm-12 ">
			<div class="title-ajout">Crit&eacute;res de recherche</div>
			<div class="panel panel-primary">
				<div class="panel-body collapse in" >
					<form class="form-horizontal" name="rechercheeclatementForm"
						id="rechercheeclatementForm">

						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">

									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">R&eacute;f.OF
										</span> <input class="form-control" ng-model="eclatementCourante.numOF"/>
									</div>
								</div>
								<div class="col-sm-4">

									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">R&eacute;f.Produit
										</span> <select ui-select2 ng-model="eclatementCourante.produitId"
											ng-init="eclatementCourante.produitId =''"
											data-placeholder="..." style="width: 100%">
											<OPTION value="">Tous les Produits</OPTION>
											<option ng-repeat="pi in listProduitDrop" value="{{pi.id}}">{{pi.reference}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">
											Produit </span> <select ui-select2
											ng-model="eclatementCourante.produitId"
											ng-init="eclatementCourante.produitId =''"
											data-placeholder="..." style="width: 100%">
											<OPTION value="">Tous les Produits</OPTION>
											<option ng-repeat="pi in listProduitDrop" value="{{pi.id}}">{{pi.designation}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						
					</form>

					<div class="pull-right">
						<button class="btn-action btn" ng-click="downloadAllEclatement(eclatementCourante)">Generer</button>
						<button class="btn-action btn"
							ng-click="rechercheeclatement(eclatementCourante)">Rechercher</button>
						<button class="btn-action btn" ng-click="annulerAjout()">Annuler</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- container d'ajout,  modification et de consultation d'une gamme -->
	<div class="row" ng-show="displayMode == 'edit'">
		<div class="col-sm-12">
			<div class="pull-right">
			<button class="btn btn-action generate" ng-click="GeneratePartage(eclatementCourante.ordreFabricationId)">G&eacute;n&eacute;rer Partage</button> 
			<button class="btn btn-action generate" ng-click="GeneratePaquet(eclatementCourante.ordreFabricationId)">G&eacute;n&eacute;rer Paquet</button> 
			<button class="btn btn-action generate" ng-click="GenerateExport(eclatementCourante.id)">G&eacute;n&eacute;rer Export</button>	
			<button class="btn btn-action generate" ng-click="GenerateEtiquette(eclatementCourante.id)">G&eacute;n&eacute;rer Etiquette</button>		
				<button class="btn btn-action"
					ng-click="sauvegarderAjout(eclatementCourante)"
					ng-disabled="!creationeclatementForm.$valid;">Enregistrer</button>
				<button class="btn btn-action" ng-click="annulerAjout()">Retour</button>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="title-ajout"  ng-show="displayMode != 'edit'">Ajout Fiche Eclatement</div>
				<div class="title-ajout"  ng-show="displayMode == 'edit'">Modifier Fiche Eclatement</div>
				<div class="panel-body" ng-show="displayMode == 'edit'">
					<form id="creationeclatementForm" name="creationeclatementForm">

						<div class="form-group">
							<div class="row ">
								<div class="col-sm-2 add">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">R&eacute;f.OF
										</span> <input class="form-control" ng-init="eclatementCourante.ordreFabricationNumero =''"  ng-model="eclatementCourante.ordreFabricationNumero"   ng-change="ofChanged()"/>
									</div>
								</div>

								<div class="col-sm-1 add">
										<div class="input-group input-group-sm">
											<button type="button" class="btn btn-action" ng-style="numOfVerifier == 'true' && myStyleBtnOF"
												ng-click="validerOF(eclatementCourante.ordreFabricationNumero,'ADD')">Vérifier</button>
										</div>
								</div>

								<div class="col-sm-3 update" >
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">R&eacute;f.OF
										</span> <select ui-select2 ng-model="eclatementCourante.ordreFabricationId"
											data-placeholder="..." style="width: 100%" ng-change="duplicateGammeOF(eclatementCourante.ordreFabricationId)" ng-disabled="ordreFab">
											<option ng-selected="eclatementCourante.ordreFabricationNumero" value="{{eclatementCourante.ordreFabricationId}}">
											{{eclatementCourante.ordreFabricationNumero}}</option>
										</select>
									</div>
								</div>
								
								<div class="col-sm-3" >
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">
											Client</span> <input class="form-control" ng-model="eclatementCourante.clientAbreviation" ng-disabled="true"/>
									</div>
								</div>

								<div class="col-sm-3" >
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">
											R&eacute;f.Produit</span> <input class="form-control" ng-model="eclatementCourante.produitReference" ng-disabled="true"/>
									</div>
								</div>

								<div class="col-sm-3" >
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">
											D&eacute;s.Produit</span> <input class="form-control" ng-model="eclatementCourante.produitDesignation" ng-disabled="true"/>
									</div>
								</div>
                                  
                 <!--                  <div class="col-sm-3">

									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">R&eacute;f.Produit
										</span> <select ui-select2 ng-model="eclatementCourante.produitId"
											ng-init="eclatementCourante.produitId =''"
											data-placeholder="..." style="width: 100%" ng-disabled="RefProd">
											<option ng-repeat="pi in listProduitDrop" value="{{pi.id}}">{{pi.reference}}</option>
										</select>
									</div>
								</div>
								
								<div class="col-sm-3">
									<div class="input-group input-group-sm">
										<span class="input-group-addon label1" id="basic-addon1">Produit 
										</span> <select ui-select2
											ng-model="eclatementCourante.produitId"
											ng-init="eclatementCourante.produitId =''"
											data-placeholder="..." style="width: 100%" ng-disabled="DesigProd">
											<option ng-repeat="pi in listProduitDrop" value="{{pi.id}}">{{pi.designation}}</option>
										</select>
									</div>
								</div> -->
                                  
                                  
                                  
							</div>

						
						
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3">
									
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">Nombre de paquets total</span> <input type="number" step="any" class="form-control"
											ng-model="eclatementCourante.nombrePaquet" ng-disabled="nombrePaquet"/>
									</div>
								</div>
								<div class="col-sm-3">

									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">Quantit&eacute; Eclat&eacute;e</span> <input type="number" step="any"
											class="form-control" ng-model="eclatementCourante.quantiteEclate" ng-disabled="quantiteEclate"/>
									</div>

								</div>
								<div class="col-sm-3">					
								    <div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">Methode</span>
										<select class="form-control"
											ng-model="methode" ng-change="eclatementChoice(methode)" ng-disabled="selectChoice">
											<OPTION value="0" ng-selected="true">Manuelle</OPTION>
										    <OPTION value="1">Automatique</OPTION>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="input-group">
										<span class="input-group-addon label1" id="basic-addon1">Quantit&eacute; Paquet</span> <input type="number" step="any"
											class="form-control" ng-disabled="nblignes" ng-model="nblignesTableau" />
									</div>
									
								</div>

							</div>
						</div>
						<div class="row">
						    <div class="col-sm-12">
			                   <div class="pull-right">
				                   <button class="btn btn-action"
					ng-click="AddTableRowsNum(eclatementCourante.ordreFabricationNumero,nblignesTableau)"
					ng-disabled="btnValide">Valider</button>
			</div>
		</div>
                          </div>


					</form>
				</div>


				<!-- end Div Ajout Gamme -->


				<div class="title-ajout">Etalement</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="panel panel-primary">
							
								<table
									class="table table-bordered table-condensed table-head-color">
									<thead>
										<tr>
											<th class="TableHeaderalignment" style="width: 5%">Ordre</th>
											<th class="TableHeaderalignment" style="width: 15%">Numero Paquet</th>
											<th class="TableHeaderalignment" style="width: 25%">TAILLE</th>
											<th class="TableHeaderalignment" style="width: 25%">COULEUR</th>
											<th class="TableHeaderalignment" style="width: 5%">QUANTITE</th>
											<th class="TableHeaderalignment" style="width: 15%">NUM MATELAS</th>
										</tr>
									</thead>
									<tbody ui-sortable ng-model="finalOperationsList">
										<tr ng-repeat="item in finalOperationsList track by $index "
											style="cursor: move;">
										<td class="TableHeaderalignment" >{{item.ordre}}</td>
										<td class="TableHeaderalignment"><input type="text" class="form-control"
												ng-model="item.num" /></td>
										<td class="TableHeaderalignment">
												<select ui-select2 ng-model="item.tailleId"
													data-placeholder="..." style="width: 100%">
													<option ng-repeat="pi in listTailles" value="{{pi.id}}">{{pi.designation}}</option>
												</select>
										 </td>
										<td class="TableHeaderalignment">
												<select ui-select2 ng-model="item.couleurId"
													data-placeholder="..." style="width: 100%">
													<option ng-repeat="pi in listCouleurs" value="{{pi.id}}">{{pi.designation}}</option>
												</select>
										 </td>				
										<td class="TableHeaderalignment"><input type="text" class="form-control"
												ng-model="item.quantite" /></td>
											<td class="TableHeaderalignment"><input type="text" class="form-control"
												ng-model="item.numMatelas" /></td>
											
											
											<td class="buttons TableHeaderalignment" style="width: 3%;text-align: center;">
												<button id="todoSubmit" class="btn btn-default btn-xs" data-nodrag 
													ng-click="deleteElement(item,$index)"
													ng-show="finalOperationsList.length>1">
													<i class="fa fa-fw fa-trash-o"/>
												</button>
											</td>
											
										</tr>
									</tbody>
								</table>
								<button id="todoSubmit"
									class="btn btn-action pull-right spacer2"
									ng-click="addElement()">Ajouter</button>
							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- container Grid-->
	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-md-12">
			<div class="title-ajout line">Eclatement</div>
			<div style="height: 500px;" ng-grid="gridOptions"></div>
		</div>
	</div>

	<!-- Popup de la suppression -->
	<div id="light" class="white_content">
		<pop-up type="delete-article"></pop-up>
	</div>
	<div id="fade" class="black_overlay"></div>
	<!-- Fin Popup de la suppression -->
	
</div>

