<!-- Menu ElementBase -->
<div ng-controller="MenuElementBaseController">
		<ul class="nav nav-gpro">
			<li ng-class="{active:ITEM == 'article' }"><a ng-click="goArticle()">Article</a></li>
			<li ng-class="{active:ITEM == 'produit' }"><a ng-click="goProduit()">Produit</a></li>
		</ul>
	
	<div ng-if="ITEM == 'article'">
		<div ng-include="'views/articles.html'" ng-show="ITEM == 'article'"></div>
	</div>
	<div ng-if="ITEM == 'produit'">
		<div ng-include="'views/produit.html'" ng-show="ITEM == 'produit'"></div>
	</div>
</div>	
