<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1">
			<ul class="nav-gproS">
					<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goPersonnel()">Personnel</a>
						</li>
		
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goFicheSuiveuse()">F.Suiveuse
							</a>
						</li>
		
		
						<li >
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goFeuilleSaisie()">Suivi/Poste</a>
						</li>
		
						<li >
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goDetailsSuiviTR()">Suivi/PDA</a>
						</li>
		
						<li >
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goDetailsSaisie()">Detail Saisie</a>
						</li>
		
						<li>
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goAvancementOF()">Avct OF</a>
						</li>
		
						<li >
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goDetailsSuivi()">D&eacute;tails Suivi</a>
						</li>
		
						<li class="active">
							<a style="margin-top: 10px" class="btn-block btn btn-action pull-right" href="#/GpaoMenu"
								ng-click="goFeuilleSaisieJournalier()">SuiviGlobal</a>
						</li>
			</ul>
		</div>

		<!-- Front -->
		<div class="col-sm-11 cadreERP" ng-controller="SuiviGlobalGpaoController" style="background-color: #fff;">
			<div class="title-ajout" style="font-size: 18px;">Saisie Journalier</div>
				<!-- Critere de recherche -->
				<div class="panel-body" ng-show="displayMode != 'edit'">
					<div class="col-sm-12">
						<button class="btn btn-action2 pull-right"
							ng-click="AffectationSGlobal(currentRequestgpaosj)"
							ng-disabled="">Ajouter</button>
					</div>
					<div class="title-ajout">Crit&eacute;res de recherche</div>
						<div class="panel panel-primary">
							<div class="panel-body">
								<form class="form-horizontal" name="requestGpaohpForm">
									<div class="form-group">
										<div class="row">

											<div class="col-sm-4">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Chaine
													</span> <select ui-select2 ng-model="currentRequestgpaosj.chaineId"
														ng-init="currentRequestgpaosj.chaineId =''"
														data-placeholder="..." style="width: 100%">
														<OPTION value="">Tous les Chaines</OPTION>
														<option ng-repeat="pi in chaineall" value="{{pi.id}}">{{pi.designation}}</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4"
												ng-controller="DatepickerDemoController">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Date
														DU </span> <input type="text" class="form-control datepicker"
														datepicker-popup="{{format}}"
														ng-model="currentRequestgpaosj.dateSaisieTo" is-open="opened"
														datepicker-options="dateOptions"
														date-="enabled(date, mode)" close-text="Close" />
	                                                  <!--ici on a travaillé avec "required" -->
													<div class="input-group-btn">
														<button type="button" class="btn btn-default"
															ng-click="open($event)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</div>
												</div>
											</div>
											<div class="col-sm-4"
												ng-controller="DatepickerDemoController">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">A
													</span> <input type="text" class="form-control datepicker"
														datepicker-popup="{{format}}"
														ng-model="currentRequestgpaosj.dateSaisieFrom" is-open="opened"
														datepicker-options="dateOptions"
														date-="enabled(date, mode)" close-text="Close" />
													<div class="input-group-btn">
														<button type="button" class="btn btn-default"
															ng-click="open($event)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
	                                </div>
										
											<div class="pull-right">
												<button class="btn-action btn"
													ng-click="rechercheProduitSaisie(currentRequestgpaosj)">Rechercher</button>
											</div>
										
	                              <div class="row" style="margin-top: 40px;">
										<table style="margin-top: 30px;"
											class="table table-bordered table-condensed table-head-color">
											<thead>
												<tr>
													<th style="width: 50%;">Chaine</th>
													<th style="width: 50%;">Date</th>
													<th></th>

												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="produit in myData">
													<td>{{produit.chaineDesignation}}</td>
													<td>{{produit.date | date: 'yyyy-MM-dd'}}</td>
													<td>
													   	<div class="buttons">
															<button data-nodrag class="btn btn-sm glyphicon glyphicon-pencil" ng-click="getByProductH(produit)">
	 														</button>
	                                                   	</div>
													</td>
												</tr>

											</tbody>
										</table>
								 </div>
								
								</form>

							</div>
						</div>
					</div>

			<!-- container d'ajout,  modification et de consultation Gestion Commerciale BC Vente-->
			<div class="panel-body" ng-show="displayMode == 'edit'">
				<div class="col-sm-12">
					<div class="pull-right">
						<button class="btn-action btn" ng-click="gpaosj(currentRequestgpaosj)">Enregistrer</button>
						<button class="btn-action btn" ng-click="annulergpaosj()">Annuler</button>
					</div>
				</div>
				<div class="col-md-12">
					<div class="title-ajout" ng-show="modePdf != 'actif'" >Cr&eacute;ation Saisie Journalier</div>
					<div class="title-ajout" ng-show="modePdf == 'actif'" >Modification Saisie Journalier</div>
					<div class="panel panel-primary">
						<div class="panel-body">
							<form class="form-horizontal" name="requestGpaosjForm" >
								<div class="form-group">
									<div class="row">
									    <div class="col-sm-3"  ng-controller="DatepickerDemoController">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Date
													 </span> <input type="text" class="form-control datepicker"
													datepicker-popup="{{format}}" ng-model="currentRequestgpaosj.date" is-open="opened"
													datepicker-options="dateOptions" date-="enabled(date, mode)" required
													 close-text="Close" />
												<div class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="margin-top: 10px;">
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Produit</span>
												<select ui-select2 required
													ng-model="currentRequestgpaosj.produitId"
													data-placeholder="..." style="width: 100%">
														<option ng-repeat="produit in listProduitDrop"
															value="{{produit.id}}">{{produit.reference}}</option>
												 </select>
								
											</div>
										</div>
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Chaine</span>
												<select ui-select2 required
													ng-model="currentRequestgpaosj.chaineId"
													data-placeholder="..." style="width: 100%">
														<option ng-repeat="chaine in chaineall"
															value="{{chaine.id}}">{{chaine.designation}}</option>
												 </select>
											</div>
										</div>
									</div>
									<!-- Mode Creation -->
									<table style="margin-top: 30px;"
											class="table table-bordered table-condensed table-head-color tableHS">
											<thead>
												<tr>
													<th>\Heures</th>
													<th>1</th>
													<th>2</th>
													<th>3</th>
													<th>4</th>
													<th>5</th>
													<th>6</th>
													<th>7</th>
													<th>8</th>
													<th>9</th>
												</tr>
											</thead>
											<tbody>
												<tr >
													<td><input type="text" value="Demandes" readonly
														class="form-control"></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[0].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[1].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[2].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[3].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[4].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[5].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[6].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[7].dem"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[8].dem"
														class="form-control" value="0"/></td>
												</tr>
												<tr>
													<td><input type="text" value="Produit" readonly
														class="form-control"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[0].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[1].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[2].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[3].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[4].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[5].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[6].prod"
														class="form-control" value="0"/></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[7].prod"
														class="form-control" value="0" /></td>
													<td><input type="number" required
														ng-model="currentRequestgpaosj.listProductionElement[8].prod"
														class="form-control" value="0"/></td>
												</tr>
											</tbody>
									</table>
									<!-- Mode Modification -->
									<table style="margin-top: 30px;"
										class="table table-bordered table-condensed table-head-color tableHSPH" >
											<thead>
												<tr>
													<th>\Heures</th>
													<th>1</th>
													<th>2</th>
													<th>3</th>
													<th>4</th>
													<th>5</th>
													<th>6</th>
													<th>7</th>
													<th>8</th>
													<th>9</th>
												</tr>
											</thead>
											<tbody>
												<tr>
												    <td><input type="text" value="Demandes" readonly
														class="form-control"/></td>
													<td  ng-repeat="i in listProductionElement track by $index ">
														<input type="number" class="form-control" ng-model="i.dem"></input>
													</td>
												</tr>
												<tr >
												    <td><input type="text" value="Produit" readonly
														class="form-control"/></td>
													<td  ng-repeat="i in listProductionElement track by $index ">
													    <input type="number" class="form-control" ng-model="i.prod"></input>
													</td>
												</tr>
											</tbody>
										</table>
								</div>
							</form>
							<!-- <div ng-hide="saisiesucc != 0">	
		                         <div class="alert alert-dismissable alert-danger" style="margin-top: 70px; color: #4CAF50; border-color: #4CAF50;">
		                            <strong> Saisie avec succ&eacute;s !</strong>
		                         </div>
		        			</div> -->
						</div><!-- endPanel-Body -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>