
	<!-- Front Achat -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1">
				<ul class="nav-gproS">
					<!-- <li><a class="btn btn-action pull-right menuH" href="#/gc_vente">Facture</a></li>
					<li><a class="btn btn-action pull-right menuH" href="#/gc_vente">Devis</a></li>
					<li ><a class="btn btn-action pull-right menuH" href="#/gc_vente">BL</a></li> -->
					<!-- <li  class="active"><a class="btn btn-action pull-right menuH" href="#/gc_vente">BC</a></li> -->
				</ul>
			</div>
			<div ng-include="'views/gc_vente.html'"></div> 
		</div>
	</div>
<!--PopUP Background -->
<div id="fade" class="black_overlay"></div>