<div class="container-fluid">
	<div class="row">
		<!-- Menu De Gauche -->
		<div class="col-sm-1">
			<ul class="nav-gproS">
				<li ng-click="changeChartType('produit')><a class="btn btn-action pull-right menuH"
					href="#/gc_chartsProduit">Produit</a></li>
				<li i class="active" ng-click="changeChartType('client')>
					<a class="btn btn-action pull-right menuH"
					href="#/gc_chartsClient">Client</a></li>
			</ul>
		</div>

		<div class="col-sm-11 cadreERP" ng-controller="ControllerGC">

			<div class="panel-body">


			</div>
		</div>
	</div>
</div>

