<ul class="nav nav-gpro">
	<li><a ng-click="goTableauDeBordChartGPAO()">Charts</a></li>
	<li><a ng-click="goTableauDeBordRapportGPAO()">Rapport</a></li>
</ul>
<!-- Menu Chart 
<div ng-controller="MenuElementBaseController">
	<ul class="nav nav-gpro">
		<li ng-class="{active:ITEM_Sub == 'menuDashbordGpao' }"><a ng-click="goTableauDeBordChartGPAO()">Charts</a></li>
		<li ng-class="{active:ITEM_Sub == 'rapportGpao' }"><a ng-click="goTableauDeBordRapportGPAO()">Rapport</a></li>
	</ul>
	
	<div ng-include="'views/ChartGraphiqueGPAO.html'" ng-show="ITEM_Sub_Sub == 'chartGpao'"></div>
	<div ng-include="'views/rapport.html'" ng-show="ITEM_Sub_Sub == 'rapportGpao'"></div>

</div>	-->
