<div ng-controller="StockControllerSortie">
	<ul class="nav nav-gpro spacer">
		<li class="active"><a href="#/stock">Mvt. Stock</a></li>
		<li><a href="#/stockMvtOF">Mvt. OF</a></li>
		<li><a href="#/historiqueS">Historique</a></li>
		<li><a href="#/etat">Etat</a></li>
		<!-- <li><a href="#/historiqueS">Inventaire Magasin</a></li> -->
		<li><a href="#/ChartGraphique">Tableau de Bord</a></li>
	</ul>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1">
				<ul class="nav-gproS">
					<li><a style="margin-top: 10px"
						class="btn btn-action pull-right" href="#/stockEntree">Entrée</a></li>
					<li class="active"><a style="margin-top: 10px"
						class="btn btn-action pull-right" href="#/stockSortie">Sortie
					</a></li>
					<li><a style="margin-top: 10px"
						class="btn btn-action pull-right" href="#/stockRetour">Retour</a></li>
				</ul>
			</div>
			<div class="col-sm-11 cadreERP">
				<!-- Critere de recherche -->
				<div class="panel-body" ng-show="displayMode != 'edit'">
					<div class="col-sm-12">
						<button class="btn btn-action2 pull-right"
							ng-click="AffectationMouvement()" ng-disabled="">Ajouter</button>
					</div>
					<div class="title-ajout">Critères de recherche</div>
					<div class="panel panel-primary">
						<div class="panel-body">
							<form class="form-horizontal" id="rechercheSSForm"
								name="rechercheSSForm">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">N°
													BS </span> <input type="text" class="form-control"
													ng-model="mouvementStockCourante.nBE">
											</div>
										</div>
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Sous
													Traitant</span> <input type="text" class="form-control"
													ng-model="t">
											</div>
										</div>
										<div class="col-sm-3" ng-controller="DatepickerDemoController">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Date
													Sortie Entre</span> <input type="text"
													class="form-control datepicker"
													datepicker-popup="{{format}}"
													ng-model="mouvementStockCourante.dateDu" is-open="opened"
													datepicker-options="dateOptions"
													date-="enabled(date, mode)" ng-required="true"
													close-text="Close" />
												<div class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="col-sm-3" ng-controller="DatepickerDemoController">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Et
												</span> <input type="text" class="form-control datepicker"
													datepicker-popup="{{format}}"
													ng-model="mouvementStockCourante.dateA" is-open="opened"
													datepicker-options="dateOptions"
													date-="enabled(date, mode)" ng-required="true"
													close-text="Close" />
												<div class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="open($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</div>
											</div>
										</div>

									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Raison
													de sortie</span> <select ui-select2
													ng-model="mouvementStockCourante.raison"
													ng-init="mouvementStockCourante.raison =''"
													data-placeholder="..." style="width: 100%">
													<option value="">Tous</option>
													<option ng-repeat="raison in ListeRaisonCache"
														value="{{raison.id}}">{{raison.designation}}</option>
												</select>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Valeur
													BS Entre</span> <input type="text" class="form-control"
													ng-model="mouvementStockCourante.valeurInf">
											</div>
										</div>
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">ET</span>
												<input type="text" class="form-control"
													ng-model="mouvementStockCourante.valeurSupp">
											</div>
										</div>
										<div class="col-sm-3">
											<div class="input-group input-group-sm" ng-hide="true">
												<span class="input-group-addon label1" id="basic-addon1">Magasin
												</span> <select ui-select2
													ng-model="mouvementStockCourante.magasin"
													ng-init="mouvementStockCourante.magasin =''"
													data-placeholder="..." style="width: 100%">
													<option value="">Tous</option>
													<option ng-repeat="magasin in listeMagasinCache"
														value="{{magasin.id}}">{{magasin.designation}}</option>
												</select>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="input-group input-group-sm">
												<span class="input-group-addon label1" id="basic-addon1">Etat
												</span> <select class="form-control"
													ng-model="mouvementStockCourante.etat">
													<option value="Valide Conforme">Validé Conforme</option>
													<option value="Valide Non Conforme">Validé Non
														Conforme</option>
													<option value="Non Valide">En Attente de
														Validation</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="pull-right">
								<button class="btn-action btn">Générer</button>
								<button class="btn-action btn"
									ng-click="rechercherStockSortie(mouvementStockCourante)">Recherecher</button>
								<button class="btn-action btn" ng-click="annulerAjoutS()">Annuler</button>
							</div>
						</div>
					</div>
				</div>
				<!-- container d'ajout,  modification et de consultation Gestion Stock Sortie-->
				<div class="panel-body" ng-show="displayMode == 'edit'">
					<div class="col-sm-12">
						<div class="pull-right">
							<button class="btn btn-action"
								ng-click="sauvegarderAjout(bonMouvementStockCourante)"
								ng-disabled="error || creationSSForm.$invalid">Enregistrer</button>
							<button class="btn-action btn"
								ng-click="downloadBonSortie(bonMouvementStockCourante.id)">Générer</button>
							<button class="btn btn-action" ng-click="annulerAjoutS()">Retour</button>
						</div>
					</div>
					<div class="col-md-12">
						<div class="title-ajout">Sortie Stock</div>
						<div class="panel panel-primary">
							<div class="panel-body">
								<form name="creationSSForm">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">N°
														BS</span> <input type="text" class="form-control"
														ng-model="bonMouvementStockCourante.numero">
												</div>
											</div>
											<div class="col-sm-3"
												ng-controller="DatepickerDemoController">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Date
														Sortie <span style="color: red">*</span>
													</span> <input type="text" class="form-control datepicker"
														datepicker-popup="{{format}}"
														ng-model=bonMouvementStockCourante.date is-open="opened"
														datepicker-options="dateOptions"
														date-="enabled(date, mode)" ng-required="true"
														close-text="Close" />
													<div class="input-group-btn">
														<button type="button" class="btn btn-default"
															ng-click="open($event)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</div>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Responsable
														S</span> <input type="text" class="form-control"
														ng-model="bonMouvementStockCourante.responsable">
												</div>
											</div>

											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Client</span>
													<select ui-select2
														ng-model="bonMouvementStockCourante.partieintId"
														data-placeholder="..." style="width: 100%">
														<option ng-repeat="client in listeClientCache"
															value="{{client.id}}">{{client.abreviation}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Raison
														Sortie <span style="color:red">*</span> </span>
													<select ui-select2
														ng-model="bonMouvementStockCourante.raisonMouvementId"
														ng-init="bonMouvementStockCourante.raisonMouvementId =''"
														data-placeholder="..." style="width: 100%" required>
														<option value="">Tous</option>
														<option ng-repeat="raison in ListeRaisonCache"
															value="{{raison.id}}">{{raison.designation}}</option>
													</select>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Valeur
														BS</span> <input type="text" class="form-control"
														ng-model="bonMouvementStockCourante.valeur" disabled>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="input-group">
													<span class="input-group-addon label1" id="basic-addon1">OF 
													<span style="color: red">*</span>
													</span> <select ui-select2 required
														ng-model="bonMouvementStockCourante.ofId"
														ng-init="bonMouvementStockCourante.ofId =''"
														data-placeholder="..." style="width: 100%">
														<OPTION value="">Tous les Ordres</OPTION>
														<option ng-repeat="of in listeOF" value="{{of.id}}">{{of.numero}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">Description</span>
													<textarea class="form-control"
														ng-model="bonMouvementStockCourante.description"></textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<input type="checkbox" id="checkboxPI" /><span>
														Sous Traitant</span>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="input-group input-group-sm">
													<span class="input-group-addon label1" id="basic-addon1">PI</span>
													<select ui-select2
														ng-model="bonMouvementStockCourante.partieintId"
														data-placeholder="..." style="width: 100%">
														<option ng-repeat="sousTraitant in listeSousTraitantCache"
															value="{{sousTraitant.id}}">{{sousTraitant.abreviation}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="title-ajout">
							Articles<span class="fadeIn hidePlus" id="articlesS">+</span>
						</div>
						<div class="panel panel-primary">
							<div class="panel-body">
								<!-- Fourniture -->
								<div style="display: none" id="panel-articlesS"
									ng-controller="PopupStockSortieCtrl">
									<div class="row">
										<div class="col-sm-2">
											<div class="title-ajout2">
												Fournitures<span id="fournituresBtnS"
													class="fadeOut pull-right hidePlusFourniture">-</span>
											</div>
										</div>
									</div>
									<div class="line4"></div>
									<div id="fournituresS">
										<div class="form-group">
											<div class="row">
												<form class="form-horizontal" name="magasinFormFourniture"
													id=magasinFormFourniture>
													<div class="col-sm-3">
														<div class="input-group input-group-sm">
															<span class="input-group-addon label1" id="basic-addon1">Magasin</span>
															<select class="form-control" required
																ng-model="idMagasin">
																<option ng-repeat="magasin in listeMagasinCache"
																	value="{{magasin.id}}">{{magasin.designation}}</option>
															</select>
														</div>
													</div>
												</form>
												<div class="spacerR">
													<button class="btn btn-action pull-right "
														ng-disabled="!magasinFormFourniture.$valid || isLoading"
														ng-click="open('fourniture' )">Rechercher</button>
												</div>
											</div>
										</div>
										<div class="table-wrapper">
										<table
											class="table table-bordered table-condensed table-head-color"
											style="width: 100%">
											<thead>
												<tr>
													<th style="width: 250px">R&eacute;f.</th>
													<th style="width: 200px">Code Fournisseur</th>
													<th style="width: 300px">D&eacute;signation</th>
													<th style="width: 200px">Famille</th>
													<th style="width: 80px">Q.Act.</th>
													<th style="width: 80px">Q.R</th>
													<th style="width: 80px">P.U</th>
													<th style="width: 80px">P.T</th>
													<th style="width: 100px">Lot</th>
													<th style="width: 150px">Empl.</th>
													<th style="width: 50px"></th>
												</tr>
											</thead>
											<tbody>
												<tr
													ng-repeat="articleF in listArticlesFournitures track by $index">
													<td><span ng-model="articleF.referenceArticle">{{articleF.referenceArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="articleF.codeFournisseur">{{articleF.codeFournisseur
															|| 'empty' }}</span></td>		
													<td><span ng-model="articleF.designationArticle">{{articleF.designationArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="articleF.familleArticle">{{articleF.familleArticle
															|| 'empty' }}</span></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesFournitures[$index].quantiteAct"
														class="form-control" /></td>
													<td><input type="text"
														ng-change="controlEmptyField('fourniture')"
														ng-disabled="!listArticlesFournitures[$index].nouveau"
														ng-model="listArticlesFournitures[$index].quantiteReelle"
														class="form-control" /></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesFournitures[$index].prixUnitaire"
														class="form-control" /></td>
													<td><span
														ng-model="listArticlesFournitures[$index].prixTotal">{{listArticlesFournitures[$index].prixTotal}}</span></td>
													<td><span ng-model="listArticlesFournitures[$index].referenceLot">{{listArticlesFournitures[$index].referenceLot
															|| 'empty' }}</span></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesFournitures[$index].emplacement"
														class="form-control" /></td>
													<td style="white-space: nowrap" class="pull-right">
														<!-- form -->
														<form editable-form name="rowform"
															ng-show="rowform.$visible"
															class="form-buttons form-inline"></form>
														<div class="buttons" ng-show="!rowform.$visible">
															<button data-nodrag
																class="btn btn-sm glyphicon glyphicon-trash"
																ng-click="removeMvtFourniture($index)"></button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										</div>
										<!-- En chargement -->
										<div ng-show="isLoading" class="col-sm-2"
											style="float: none; margin-left: auto; margin-right: auto; font-weight: bold;"
											class="col-sm-1">Chargement ...</div>
									</div>
								</div>

								<!-- Tissu -->
								<div style="display: none" id="panel-articlesS">
									<div class="row">
										<div class="col-sm-2">
											<div class="title-ajout2">
												Tissu<span id="tissuBtnS"
													class="fadeOut pull-right hidePlusTissu">+</span>
											</div>
										</div>
									</div>
									<div class="line4"></div>
									<div id="tissuS" style="display: none"
										ng-controller="PopupStockSortieCtrl">
										<div class="form-group">
											<div class="row">
												<form class="form-horizontal" name="magasinFormTissu"
													id=magasinFormTissu>
													<div class="col-sm-3">
														<div class="input-group input-group-sm">
															<span class="input-group-addon label1" id="basic-addon1">Magasin</span>
															<select class="form-control" required
																ng-model="idMagasin">
																<option ng-repeat="magasin in listeMagasinCache"
																	value="{{magasin.id}}">{{magasin.designation}}</option>
															</select>
														</div>
													</div>
												</form>
												<div class="spacerR">
													<button class="btn btn-action pull-right spacer2"
														ng-disabled="!magasinFormTissu.$valid || isLoading"
														ng-click="open('tissu')">Rechercher</button>
												</div>
											</div>
										</div>
										<div class="table-wrapper">
										<table
											class="table table-bordered table-condensed table-head-color"
											style="width: 100%">
											<thead>
												<tr>
													<th style="width: 250px">R&eacute;f.</th>
													<th style="width: 150px">Code Fournisseur</th>
													<th style="width: 300px">D&eacute;signation</th>
													<th style="width: 200px">Famille</th>
													<th style="width: 100px">Date Entr&eacute;e</th>
													<th style="width: 100px">Lot</th>
													<th style="width: 80px">Q.Act.</th>
													<th style="width: 80px">Rlx.Act.</th>
													<th style="width: 80px">M&eacute;trage</th>
													<th style="width: 80px">N.Rlx</th>
													<th style="width: 80px">P.U</th>
													<th style="width: 80px">P.T</th>
													<th style="width: 100px">Empl</th>
													<th style="width: 50px"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="mvtT in listArticlesTissus track by $index">
													<td><span ng-model="mvtT.referenceArticle">{{mvtT.referenceArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="mvtT.codeFournisseur">{{mvtT.codeFournisseur
															|| 'empty' }}</span></td>
													<td><span ng-model="mvtT.designationArticle">{{mvtT.designationArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="mvtT.familleArticle">{{mvtT.familleArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="mvtT.dateEntree">{{mvtT.dateEntree|date:"dd/MM/yyyy" 
															|| 'empty' }}</span></td>
													<td><span ng-model="mvtT.referenceLot">{{mvtT.referenceLot
															|| 'empty' }}</span></td>		
													<td>
													<span ng-model="mvtT.quantiteAct">
													{{mvtT.quantiteAct }}</span>
													</td>
													<td>
													<span ng-model="mvtT.rouleauxActuels">
													{{mvtT.rouleauxActuels }}</span>
													</td>
													<td>
														<!-- Metrage = quantiteReelle --> <input type="text"
														ng-change="controlEmptyField('tissu')"
														ng-disabled="!listArticlesTissus[$index].nouveau"
														ng-model="listArticlesTissus[$index].quantiteReelle"
														value="" class="form-control" />
													</td>
													<td><input type="text"
														ng-disabled="!listArticlesTissus[$index].nouveau"
														ng-model="listArticlesTissus[$index].nbRouleauxReel"
														value="" class="form-control" /></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesTissus[$index].prixUnitaire"
														value="" class="form-control" /></td>
													<td><span
													    ng-disabled="true"
														ng-model="listArticlesTissus[$index].prixTotal">{{listArticlesTissus[$index].prixTotal}}</span></td>
													<td><input type="text" 
														ng-model="listArticlesTissus[$index].emplacement" value=""
														class="form-control" e-disabled /></td>
													<td style="white-space: nowrap" class="pull-right">
														<!-- form -->
														<form editable-form name="rowform"
															ng-show="rowform.$visible"
															class="form-buttons form-inline"></form>
														<div class="buttons" ng-show="!rowform.$visible">
															<button data-nodrag
																class="btn btn-sm glyphicon glyphicon-trash"
																ng-click="removeMvtTissu($index)"></button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										</div>
										<!-- En chargement -->
										<div ng-show="isLoading" class="col-sm-2"
											style="float: none; margin-left: auto; margin-right: auto; font-weight: bold;"
											class="col-sm-1">Chargement ...</div>
									</div>
								</div>

								<!-- Fil à Coudre -->
								<div style="display: none" id="panel-articlesS"
									ng-controller="PopupStockSortieCtrl">
									<div class="row">
										<div class="col-sm-2">
											<div class="title-ajout2">
												Fil à coudre<span id="filBtnS"
													class="fadeOut pull-right hidePlusFil">+</span>
											</div>
										</div>
									</div>
									<div class="line4"></div>
									<div id="filS" style="display: none">
										<div class="form-group">
											<div class="row">
												<form name="magasinFormFAC" id="magasinFormFAC">
													<div class="col-sm-3">
														<div class="input-group input-group-sm">
															<span class="input-group-addon label1" id="basic-addon1">Magasin</span>
															<select class="form-control" required
																ng-model="idMagasin">
																<option ng-repeat="magasin in listeMagasinCache"
																	value="{{magasin.id}}">{{magasin.designation}}</option>
															</select>
														</div>
													</div>
												</form>
												<div class="spacerR">
													<button class="btn btn-action pull-right spacer2"
														ng-disabled="!magasinFormFAC.$valid|| isLoading"
														ng-click="open('coudre')">Rechercher</button>
												</div>
											</div>
										</div>
										<!-- {{listArticlesFACE}} -->
										<div class="table-wrapper">
										<table
											class="table table-bordered table-condensed table-head-color">
											<thead>
												<tr>
													<th style="width: 250px">R&eacute;f.</th>
													<th style="width: 350px">D&eacute;signation</th>
													<th style="width: 250px">Famille</th>
													<th style="width: 100px">Q.Act.</th>
													<th style="width: 100px">C.Réel</th>
													<th style="width: 100px">F.C</th>
													<th style="width: 100px">Poids</th>
													<th style="width: 100px">P.U</th>
													<th style="width: 100px">P.T</th>
													<th style="width: 200px">Empl</th>
													<th style="width: 50px"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="MvtFAC in listArticlesFACE">
													<td><span ng-model="MvtFAC.referenceArticle">{{MvtFAC.referenceArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="MvtFAC.designationArticle">{{MvtFAC.designationArticle
															|| 'empty' }}</span></td>
													<td><span ng-model="MvtFAC.familleArticle">{{MvtFAC.familleArticle
															|| 'empty' }}</span></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesFournitures[$index].quantiteAct"
														class="form-control" /></td>
													<td><input type="text"
														ng-disabled="!listArticlesFACE[$index].nouveau"
														ng-model="listArticlesFACE[$index].conesReel"
														class="form-control" /></td>
													<td><input type="text"
														ng-disabled="!listArticlesFACE[$index].nouveau"
														ng-model="listArticlesFACE[$index].finconesReel"
														class="form-control" /></td>
													<td><input type="text"
														ng-disabled="!listArticlesFACE[$index].nouveau"
														ng-model="listArticlesFACE[$index].poids"
														class="form-control" /></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesFACE[$index].prixUnitaire"
														class="form-control" /></td>
													<td><span
														ng-model="listArticlesFACE[$index].prixTotal">{{listArticlesFACE[$index].prixTotal
															}}</span></td>
													<td><input type="text" ng-disabled="true"
														ng-model="listArticlesFACE[$index].emplacement"
														class="form-control" /></td>
													<td style="white-space: nowrap" class="pull-right">
														<!-- form -->
														<form editable-form name="rowform"
															ng-show="rowform.$visible"
															class="form-buttons form-inline"></form>
														<div class="buttons" ng-show="!rowform.$visible">
															<button data-nodrag
																class="btn btn-sm glyphicon glyphicon-trash"
																ng-click="removeMvtFAC($index)"></button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										</div>
										<div ng-show="isLoading" class="col-sm-2"
											style="float: none; margin-left: auto; margin-right: auto; font-weight: bold;"
											class="col-sm-1">Chargement ...</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Document Type and upload -->
						<div class="title-ajout line">Documents</div>
						<div class="panel-body" ng-show="displayMode == 'edit'">
							<div class="form-group">
								<div class="row">
									<div class="panel panel-primary">
										<table
											class="table table-bordered table-condensed table-head-color">
											<thead>
												<tr>
													<th style="width: 40%">Type Document</th>
													<th style="width: 40%">Document</th>
													<th style="width: 20%"></th>
												</tr>
											</thead>
											<tr>
												<td class="hidden"><span editable-text="t" e-name="id"
													e-form="rowform" e-required> {{ documentPi.id ||
														'empty' }} </span></td>
												<td>
													<!-- editable group (select-remote) --> <span
													editable-select="t" e-name="t" e-form="rowform">
														{{showStatus(documentPi.typeDocument) }} </span>
												</td>
												<td ng-controller="UploadCtrl">
													<!-- Upload Document File -->
													<div class="form-group">
														<div class="col-sm-12">
															<div class="fileinput fileinput-new"
																data-provides="fileinput">
																<input class="hidden" type="text" ng-model="name" /> <span
																	class="btn btn-file btn-sm" style="background: #e6e9ee"
																	ng-show="!isUploaded && rowform.$visible"> <span
																	class="fileinput-new">S&eacute;lectionner
																		document</span> <input type="file" class="custom-file-input"
																	file-model="myFile"> <span href="#"
																	class="close fileinput-exists pull-right"
																	style="float: none; padding: 0"
																	data-dismiss="fileinput"
																	ng-show="!isUploaded && rowform.$visible">x</span>
																</span> <span class="fileinput-filename"
																	ng-model="documentPi.path" e-name="path"
																	e-form="rowform" e-required>{{t}}</span>
															</div>
															<!-- 															<a class="btn btn-danger btn-sm pull-right" -->
															<!-- 																ng-click="downloadFile(documentPi.vUUIDDocument)" -->
															<!-- 																ng-href="{{urlFile}}" ng-show="!rowform.$visible"> <span -->
															<!-- 																class="glyphicon glyphicon-cloud-download"></span> -->
															<!-- 															</a> -->
															<a ng-click="uploadFile()"
																ng-show="!isUploaded && rowform.$visible"
																class="btn btn-info btn-sm fileinput-upload glyphicon glyphicon-cloud-upload pull-right">
															</a> <a class="btn btn-success btn-sm pull-right"
																href="D:/archive/{{t}}/{{t}}"
																ng-show="!rowform.$visible"> <span
																class="glyphicon glyphicon-cloud-download"></span>
															</a>
														</div>
													</div> <input class="hidden" ng-model="t" e-name="t"
													e-form="rowform" e-required
													value="{{ t ||
															'empty' }} " />
												</td>
												<td style="white-space: nowrap">
													<!-- form -->
													<form editable-form name="rowform"
														ng-show="rowform.$visible"
														onbeforesave="saveDocPI($data, documentPi.id)"
														shown="DocPartieInteresseInserree == documentPi"
														class="form-buttons form-inline">
														<div class="pull-right">
															<button type="submit" ng-disabled="!rowform.$valid"
																class="btn btn-sm glyphicon glyphicon-save"
																aria-hidden="true"></button>
															<button type="button" ng-disabled="rowform.$waiting"
																ng-click="rowform.$cancel()"
																class="btn btn-sm glyphicon glyphicon-remove"></button>
														</div>
													</form>
													<div class="buttons pull-right" ng-show="!rowform.$visible">
														<button data-nodrag
															class="btn btn-sm glyphicon glyphicon-pencil"
															ng-click="rowform.$show()"></button>
														<button data-nodrag
															class="btn btn-sm glyphicon glyphicon-trash"
															ng-click="removeDocument($index)"></button>
													</div>
												</td>
											</tr>
										</table>
										<button class="btn btn-action pull-right spacer2" ng-click="">Ajouter</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="displayMode != 'edit'">
					<div class="col-md-12">
						<div class="title-ajout line">Liste des bons de Sortie</div>
						<div style="height: 500px;" ng-grid="gridOptionsS"></div>
					</div>
				</div>
				<!-- Popup Recherche Stock -->
				<div id="lightS" class="white_content2 ui-widget-content">
					<pop-up></pop-up>
				</div>
				<!-- Fin Popup Recherche Stock -->
			</div>
		</div>
	</div>
	<!--PopUP Background -->
	<div id="fade" class="black_overlay"></div>
</div>


<!-- Popup Recherche Stock -->
<script type="text/ng-template" id="myModalContent.html">
 <div class="modal-header"  >
	<div class='title-ajout'>Ajouter des Articles</div>
 </div>
	 <div class="modal-body" >

		<div class="panel-body">
			<div class="form-group">
					
					<!-- Recherche avec un champ universel -->
					
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group input-group-sm">
								<span class="input-group-addon label1" id="basic-addon1">1er crit&egrave;re de recherche :
								</span> 
								<input type="text" ng-model="articleCourantrecherchePopup.query1" class="form-control">	
							</div>
						</div>

						<div class="col-sm-5">
							<div class="input-group input-group-sm">
								<span class="input-group-addon label1" id="basic-addon1">2&egrave;me crit&egrave;re de recherche :
								</span> 
								<input type="text" ng-model="articleCourantrecherchePopup.query2" class="form-control">	
							</div>
						</div>

					<div class="pull-right">
						<button class="btn-action3 btn" ng-click="annulerAjoutPopUp()">Annuler</button>
					</div>
				</div>
			</div>

	    <div style="max-height: 300px; overflow: scroll" >
		
			<table
											class="table table-bordered table-condensed table-head-color">
											<thead>
												<tr>
													<th style="width:5%"></th>
													<th style="width:20%">R&eacute;ference</th>
													<th style="width:26%">D&eacute;signation</th>
													<th style="width:11%">Famille</th>
													<th style="width:11%">Sous Famille</th>
													<th style="width:11%">Date Entr&eacute;e</th>
													<th style="width:11%">Lot</th>
													<th style="width:3%"></th>
												</tr>
											</thead>
											<tbody>
												<!-- Un champ de recherche universel -->
												<tr
													ng-repeat="article in myCurrentList | filter:articleCourantrecherchePopup.query1 | filter:articleCourantrecherchePopup.query2">
												
														<td>
															<input type="checkbox" ng-model="article.isChecked" ng-change="addSelectedArticle(article)">
														</td>
														<td>
														<span
														ng-model="article.reference"
														>{{article.reference || 'empty' }}</span></td>
													<td>
														<span
														ng-model="article.designation"
														>{{article.designation || 'empty' }}</span></td>
													<td>
														<span
														ng-model="article.famille"
														>{{article.famille || 'empty' }}</span></td>
													<td>
														<span
														ng-model="article.sousFamille"
														>{{article.sousFamille || 'empty' }}</span>
													</td>
													<td>
														<span
														ng-model="article.dateEntree"
														>{{article.dateEntree | date:"dd/MM/yyyy" || 'empty' }}</span></td>
													<td>
														<span
														ng-model="article.referenceLot"
														>{{article.referenceLot || 'empty' }}</span>
													</td>
													<td>
														<span class="rawform-icon2"></span>
													</td>
												</tr>
											</tbody>
										</table>
				</div>
	    	</div>
	    <div class="modal-footer">
	        <button class="btn-action btn" ng-click="ok()">OK</button>
	        <button class="btn-action btn" ng-click="cancel()">Cancel</button>
	    </div>

	 </script>