
<div class="row" id="deletePopupX">
	<span class="pull-right clickable" ng-click="closePopupDelete()">X</span>
</div>

<!-- POPUP Partie Interessee -->
<div ng-show="message == 1" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].abreviation}}</div>
</div>
<div ng-show="message == 1" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerPartieInteressee()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP Produit -->
<div ng-show="message == 3" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].designation}}</div>
</div>
<div ng-show="message == 3" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerProduit()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP BonSortie :Logistique /Expedition -->
<div ng-show="message == 4" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].reference}}</div>
</div>
<div ng-show="message == 4" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerBonsortie()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP BonLivraisonVente -->
<div ng-show="message == 5" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].reference}}</div>
</div>
<div ng-show="message == 5" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerBonVente()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP Marché -->
<div ng-show="message == 6" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].designation}}</div>
</div>
<div ng-show="message == 6" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerMarche()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>
<!-- POPUP FactureVente -->
<div ng-show="message == 7" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].designation}}</div>
</div>
<div ng-show="message == 7" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerFactureVente()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>
<!-- POPUP FicheSuiveuse :Logistique / Production -->
<div ng-show="message == 8" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].designation}}</div>
</div>
<div ng-show="message == 8" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerFicheSuiveuse()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>
<!-- POPUP Article-->
<div ng-show="message == 9" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[9]}}
		{{myData[index].ref}}</div>
</div>
<div ng-show="message == 9" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerArticle()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>
<!-- POPUP metrage Invalid -->
<div ng-show="message == 2" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}</div>
</div>
<!-- POPUP Regelement-->
<div ng-show="message == 10" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[10]}}
		{{myData[index].reference}}</div>
</div>
<div ng-show="message == 10" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerReglement()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP FicheFaçon :Logistique / Facon -->
<div ng-show="message == 11" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].designation}}</div>
</div>
<div ng-show="message == 11" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerFicheFacon()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP FicheFaçon : commercial / bon de commande -->
<div ng-show="message == 12" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myDataCommandeVente[index].reference}}</div>
</div>

<div ng-show="message == 12" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerCommandeVente()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>

<!-- POPUP FicheFaçon :Logistique / inventaire -->
<div ng-show="message == 13" class="row" style="text-align: center">
	<div class="title-ajout line2">{{messages[message]}}
		{{myData[index].reference}}</div>
</div>

<div ng-show="message == 13" class="row" style="text-align: center">
	<button class="btn btn-action" ng-click="supprimerBonInventaire()">Oui</button>
	<button class="btn btn-action" ng-click="closePopupDelete()">Non</button>
</div>